.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.radar_title{
    font-size: 2.5rem;
    justify-content: center;
    color: white;
    padding: 50px;
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #3B9D4C;
}
.title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: white;
    padding: 50px;
    border-radius: 50px;
    margin-top: 30px;
}

.titleResult {
    font-size: 4rem;
    margin-bottom: 50px;
    color: white;
    padding: 50px;
    margin-top: 30px;
    font-weight: 900;
}

.title_category {
    height: 200px;
    display: flex;

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;

    gap: 20px;

    font-size: 14px;

    width: 90%;



}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.optionRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #27282C;
}

.category {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 200px;
}

.category .active {
    color: white;
    background-color: #3B9D4C;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.category .inactive {
    color: #ABABAB;
    background-color: #4C4C4C;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.category .category_name {
    margin-top: 10px;
    color: white;
}

.questions {
    font-size: 1.2rem;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question {
    font: DM Sans;
    display: flex;
    font-size: 1rem;
    padding-left: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    font-weight: 300;
    color: white;
    background-color: #27282C;
    width: 80%;
    height: 60%;
    border-radius: 7px;
    padding-bottom: 20px;
}

.questionTitle {
    padding-top: 20px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: white;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 50px;
    gap: 20%;
}

.submit {
    border-width: 2px;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
}

.back {
    border-width: 2px;
    border-color: white;
    font-size: 1.5rem;
    background-color:#27282C;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
}



.results {
    width: 80%;
    margin-bottom: 100px;
    color: white;
}

@media screen and (max-width: 800px) {
    .results {
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .question{
        display: flex;
        width: 90%;
    }
    .questions{
        display: flex;
        width: 90%;
        align-items: center;
    justify-content: center;
    }
    .questionTitle{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .category{
        display: none;
    }

}