.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 100%;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    padding: 50px;
    border-radius: 50px;
    margin-top: 30px;
}
.titleResult {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: white;
    padding: 50px;
    margin-top: 30px;font-weight: 700;
}

.title_category {
    height: 200px;
    display: flex;

    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;

    gap: 20px;

    font-size: 14px;

    width: 90%;



}

.category {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 150px;
}

.category .active {
    color: white;
    background-color: green;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.category .inactive {
    color: white;
    background-color: grey;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
}

.category .category_name {
    margin-top: 10px;
}

.questions {
    font-size: 1.2rem;
    margin-bottom: 50px;
    width: 80%;
    max-width: 800px;
    min-width: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    font-weight: 300;
    color: white;
    background-color: #27282C;
    width: 150%;
    height: 60%;
    border-radius: 10px;
    margin-left: -90px;
}

.questionTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.option input[type="checkbox"] {
    display: none; 
}

.option input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px; /* Доданий відступ між кожною галочкою */
}

.option input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px; 
}

.option input[type="checkbox"]:checked + label:before {
    background-color: #3B9D4C; /* Зелений колір фону */
}

.option input[type="checkbox"]:checked + label:after {
    content: "\2713"; /* Галочка */
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: white; /* Колір галочки */
    font-size: 20px;
    padding-top: 10px;
    padding: auto;
}



.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    max-width: 800px;
    margin-bottom: 50px;
    gap: 20%;
}

.submit {
    border: none;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
}

.back {
    border: none;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
}



.results {
    width: 60%;
    margin-bottom: 100px;
    color: white;
}

@media screen and (max-width: 800px) {
    .results {
        width: 90%;
    }

}

